<div class="row mb-4 post-list">
    <div>
        <button type="submit"><a href="/dashboard/newPost" class="btn btn-primary">Create a new POST</a></button>
    </div>

    {{#each posts as |post| }}
    <article class="post">
        <div class="title">
            <a href="/posts/{{id}}">{{title}}</a>
        </div>
        <div class="description">
            {{description}}
        </div>
        <div>
            <a href="/dashboard/editPost/{{id}}" class="edit">EDIT</a>
        </div>
    </article>
    {{/each}}
</div>