<div class="row mb-4 edit-comment">
    <h2 class="text-info">Edit comment!<h2>
    <form class="form edit-form">
        <div class="form-group">
            <label class="text-info h4" for="description-input">Description:</label>
            <textarea class="form-input form-control" rows="5" id="description-input" name="description-input">{{comment.description}}</textarea>
            <button class="btn btn-primary mt-2" id="update-comment" type="submit">Save Comment</button>
            <button class="btn btn-danger mt-2" id="delete-comment" data-id="{{comment.id}}"
                            type="button">Delete Comment</button>
        </div>
    </form>
</div>

<script src="/js/edit-comment.js"></script>