<div class="row mb-4 edit-comment">
    <h2>Edit comment!</h2>
    <form class="form edit-form">
        <div class="form-group">
            <label for="description-input">Description:</label>
            <input class="form-input" type="text" id="description-input" value="{{comment.description}}"/>
            <button class="btn btn-primary" id="update-comment" type="submit">Save Comment</button>
        </div>    
    </form>
</div>

<script src="/js/edit-comment.js"></script>