<div class="row mb-4 new-post">
    <h2 class="text-info">Create a new post!</h2>
    <form class="form post-form">
        <div class="form-group">
            <label for="title-input">Title:</label>
            <input class="form-input form-control" type="text" id="title-input" />
        </div>
        <div class="form-group">
            <label for="description-input">Description:</label>
            <input class="form-input form-control" type="text" id="description-input" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary mt-3" type="submit">POST</button>
        </div>
    </form>
</div>

<script src="/js/new-post.js"></script>